{% extends 'base.html' %}

{% block content %}
<style>
    li {
        margin: 5px;
    }
</style>
<ul>
    <li>1. Используйте логин/пароль: kate/kate
    http://127.0.0.1:8000/admin/auth/user/1/ здесь можно поменять ФИО, но его все равно
    никто кроме вас не увидит.</li>

    <li>2. В Админке много чего еще можно менять, но перед этим лучше сделать копию проэкта.</li>

    <li>
    3. Заходим на главную, выбираем нужный тест, потом "Начать тест". Можно перед началом просто
    просмотреть все вопросы. <br/>
    Есть два режима. Обычеый - отвечаете на вопросы и получаете результат.
    Обязательный - можно использовать для обучения и самопроверки, вопрос не будет
    засчитан пока не ответите верно.</br>
    Случайные варианты ответов - ответы будут отображаться в случайном порядке.</br>
    Экзамен(ALL) - содержит все впоросы, но для удобства они разбиты по 50.
    </li>
    
    <li>
        В процессе прохождения теста можете редактировать вопросы(некоторые могли сохраниться не верно).
    </li>
    
    <li>
        Можете копировать вопросы в другой тест, например в "Повторить".
        Удобно для выделения особо трудных вопросов в отдельный тест.
    </li>
</ul>
{% endblock %}