{% extends 'main/base.html' %}

{% block bclass %}main{% endblock %}

{% block content %}
    {% if form %}
        <form method="post">
        {% csrf_token %}
        <table>
            {{ form }}
            <tr>
                <td></td>
                <td><button>Начать</button></td>
            </tr>
        </table>
        </form>
    {% else %}
        <h1>Вы уже начали другой тест.</h1>
        <a href="{{ current_test.get_absolute_url }}">{{ current_test }}</a>    
    {% endif %}
{% endblock %}